[Unit]
Description=Automated container image rebuild
Documentation=man:podpourri-build

[Service]
ExecStart=/usr/bin/env \
    podpourri-job ${PODPOURRI_JOBTAG_PREFIX} ${PODPOURRI_REPO} $PODPOURRI_BUILD_ARGS

SyslogIdentifier=podpourri-build
